@font-face {
  font-family: 'Fantasque Sans Mono';
  src: url('/fonts/FantasqueSansMNerdFontMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Fantasque Sans Mono';
  src: url('/fonts/FantasqueSansMNerdFontMono-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Fantasque Sans Mono';
  src: url('/fonts/FantasqueSansMNerdFontMono-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Fantasque Sans Mono';
  src: url('/fonts/FantasqueSansMNerdFontMono-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: 'Fantasque Sans Mono', monospace;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0f1015;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

button,
input,
textarea,
select {
  font-family: inherit;
}

#root {
  width: 100%;
}
